.Skills {
    text-align: center;
}

.Skills li {
    display: inline-block;
    margin: 0 7px;
    line-height: 60px;
}

.Skills button {
    color: #888;
    font-size: 1.2em;
    display: inline-block;
    padding: 0 9px;
    border: 1px #9c9c9c solid;
    line-height: 48px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.Skills button:hover {
    color: #142155;
    background-color: #f7f5f8;
    text-decoration: none;
}