.Header-navbar {
	top: 0;
    width: 100%;
    border-bottom: 1px #a6a4a7 solid;
    position: fixed;
    background-color: white;
    text-align: left;
    z-index: 10;
    font-family: 'Roboto', sans-serif;
}

.Header-nav {
    vertical-align: middle;
    font-size: 1.3em;
}

.Header-nav li a {
	line-height: calc(90px - 30px);
	font-weight: 300;
}

.Header-nav li a:hover {
	color: navy !important;
	text-decoration: underline;	
}

.Header-toggle {
	margin:27px 15px;
}

.Header-toggle .icon-bar+.icon-bar {
	margin-top:5px;
}

@media only screen and (max-width: 767px) {

	.Header .logo {
		width:200px;
	}

	.Header-navbar {
		height: 70px;
		line-height: 70px;
		border:none;
	}

	.Header-navbar .container{
	    border-bottom: 1px #a6a4a7 solid;
		background-color: white;
	}

	.Header-navBar .navbar-header {
	    height: 70px;
	}

	.Header-toggle {
		margin:17px 15px;
	}

	.Header-nav li a {
		line-height: 30px;
		text-align: center;
	}
}