.Footer { 
    font-size: 1.1em;
    text-align: center;
    background-color: #142155;
    position: relative;
    overflow: hidden;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 35px 0;
}

.Footer h2 { 
    color: white; 
}